*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-color: #FFFFFF;
  --bg-container: rgba(168, 168, 168, 0.5);
}
body{
  background-color: var(--bg-color);
}
body *{
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}
#container{
  text-align: center;
  padding: 30px;
  width: 600px;
  height: 100vh;
  background-color: var(--bg-container);
  box-shadow: 0px 15px 15px var(--bg-container);
}